body {
  height: 100vh;
  border: 1px solid white;
  background-color: #101213; */
}

.container {
  width: max-content;
  height: 200px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 1em;
  margin-top: 180px;
  }

#input-num {
  width: 100%;
}

.button {
  width: 100%;
  margin-top: 5px;
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  color: white;
  background-color: #820ad1; 
}

label {
  color: #820ad1;
  font-family: Yanone Kaffeesatz, monospace;
  font-size: 50px;
}
